<section>
    <h2 class="page-header">About me</h2>

    <h3>Summary</h3>
    <p>An accomplished Software Engineer specializing in developing web applications and services with extensive experience in full life cycle of software design process including requirements definition, prototyping, proof of concept, implementation, testing, deployment and monitoring.</p>
    <p>Over the last 5 years, I have developed a wide range of websites using ASP.NET WebForms\MVC, and MS SQL Server including sites for startup companies and small businesses. My core competency lies in complete end-end management of a new website development project, and I am seeking opportunities to build websites from the ground up for you or your business. Also I have wide experience in developing RESTful web-services using WCF or ASP.NET WebAPI.</p>
    <p>In addition I develop desktop applications for Windows using WinForms, WPF, and XAML for Metro-applications.</p>
    <p>In software development I prefer to use the agile methods (XP, Scrum, Kanban). In my work I use the following development tools: VS2012, TFS or DVCS (Mercurial with Bitbucket, Git with Github), Resharper, Dotcover, YouTrack.</p>
    <p>I also have experience in the following areas: SQL, OOP, UML, software design and testing, encryption, genetic algorithms and simulation of queuing systems.</p>

    <h3>Interests</h3>
    <p>
        Agile Application Development, Search Engines, ASP.NET MVC, Web API, REST, OAuth
    </p>

    <h3>Skills</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>Languages</td>
                <td>C, C#, F#, ASP.NET (2.0, 3.0, 3.5, 4.0), AJAX, XML, XAML, XSL, PL/SQL, Java, JavaScript, JDBC, СSS, HTML, DHTML, HTML5
                </td>
            </tr>
            <tr>
                <td>Packages & Tools</td>
                <td>Visual Studio, Blend, TFS, Visio, NUnit, NAnt, NLog, Firebug</td>
            </tr>
            <tr>
                <td>Databases</td>
                <td>SQL Server 2005 - 2012, SQL Server Compact Edition, MySQL</td>
            </tr>
            <tr>
                <td>Content Management Systems</td>
                <td>Orchard</td>
            </tr>
            <tr>
                <td>Search</td>
                <td>Lucene.NET</td>
            </tr>
        </tbody>

    </table>

    <h3>Education</h3>
    <p>
        2007 - 2011 Bachelors in Automated sytems of data processing and control, 
        Omsk state technical university
    </p>  
</section>

