<section data-bind="with: links">
    <h2 class="page-header">Contact me</h2>

    <p>You can <a rel="me" class="btn btn-primary" data-bind="attr: { href: odesk }">HIRE ME</a> on <a href="http://odesk.com">oDesk</a></p>

    <table class="table">
        <tbody>
            <tr>
                <td style="width: 50px;">
                    <strong>Email</strong>
                </td>
                <td>
                    <a rel="me" title="Email me" data-bind="text: email, attr: { href: 'mailto:' + email }">
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Skype</strong>
                </td>
                <td>
                    ebashmakov  
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Social</strong>
                </td>
                <td>
                    <p>I'm pretty easy to get ahold of on the internet. There's lots of choices:</p>

                    <ul class="list-unstyled">
                        <li>
                            <a rel="me" data-bind="attr: { href: twitter }">
                                <img src="images/twitter.png" alt="Twitter" />
                            </a>
                            You can <a rel="me" data-bind="attr: { href: twitter }">follow me</a> on twitter
                        </li>
                        <li>
                            <a rel="me" data-bind="attr: { href: gplus }">
                                <img src="images/gplus.png" alt="Google+" />
                            </a>
                            <a rel="me" data-bind="attr: { href: gplus }">Add me</a> to  your Google+ circles
                        </li>
                        <li>
                            <a rel="me" data-bind="attr: { href: facebook }">
                                <img src="images/facebook.png" alt="Facebook" />
                            </a>
                            You can <a rel="me" data-bind="attr: { href: facebook }">subscribe</a> to my public updates on  Facebook
                        </li>
                        <li>
                            <a rel="me" data-bind="attr: { href: linkedin }">
                                <img src="images/linkedin.png" alt="LinkedIn" />
                            </a>
                            If you prefer Linkedin, <a rel="me" data-bind="attr: { href: linkedin }">contact me</a> there
                        </li>
                    </ul>
                    <p>You also can find me on <a rel="me" data-bind="attr: { href: vk }">VK.com</a> and <a rel="me" data-bind="attr: { href: steam }">Steam</a>.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Developers Developers Developers</strong>
                </td>
                <td>I'm on <a rel="me" data-bind="attr: { href: stackoverflow }">stackoverflow</a>, 
                    <a rel="me" data-bind="attr: { href: github }">github</a>,
                    <a rel="me" data-bind="attr: { href: bitbucket }">bitbucket</a>.
                </td>
            </tr>
        </tbody>
    </table>
</section>
