<section class="row">
    <article class="col-md-8">
        <h2 class="page-header">Welcome!</h2>
        <p>
            You are visiting the personal website of <strong>Evgeniy Bashmakov</strong>, Software Engineer, living in Omsk, Russia.
            Here you will find information about my work, education, projects and other random stuff.
        </p>
        <p>
            <a href="#about">Here</a> you can read more about me.
        </p>
        <p>
            <a href="#contacts">Contact me</a> if you are interested in hiring me.
        </p>
    </article>

    <aside class="col-md-2 thumbnail" style="width: 233px">
        <img alt="Evgeniy Bashmakov" class="img-rounded" data-bind="attr: { src: photoUrl }" />

        <div class="caption">
            <p class="text-center">
                Software developer
                <small class="text-muted">Russia, Omsk</small>
            </p>
            <p>
                <a rel="me" title="Email me" data-bind="attr: { href: 'mailto:' + email }">
                    <img src="images/email.png" class="email" alt="Email" />
                    <span id="email" data-bind="text: email"></span>
                </a>
            </p>
        </div>
    </aside>
</section>